<% include partials/header %>

<p><%= gallery.name %></p>

<img src="<%= gallery.image %>">

<p><%= gallery.description %></p>

<% gallery.watches.forEach((watch) => { %>
  <p>
    <strong><%= watch.brand %></strong> - <%= watch.model %>
  </p>
  <img src="<%= watch.image %>">

<% }) %>

<% include partials/footer %>
