<% include ../partials/header %>

<p><%= gallery.name %></p>

<img src="<%= gallery.image %>">

<p><%= gallery.description %></p>

<p>
  <a class='btn btn-success' href="/galleries/<%= gallery._id %>/watches/new">Add New Watch</a>
</p>

<% gallery.watches.forEach((watch) => { %>
  <p>
    <strong><%= watch.brand %></strong> - <%= watch.model %>
  </p>
  <img src="<%= watch.image %>">
  <p><%= watch.description %></p>

<% }) %>

<% include ../partials/footer %>
